<html>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-color: black;">
    @RenderBody()
</body>

</html>