<header>
	<nav id="navbar">
		<div class="container">
			<h1 class="logo"><a href="#">Good Hotel</a></h1>
			<ul>
				<li><a href="contacs">Contact</a></li>
				<li><a href="abouts">About</a></li>
				<li><a href="" class="current">Home</a></li>
			</ul>
		</div>
	</nav>


	<div id="showcase">
		<div class="container">
			<div class="showcase-content">
				<h1><span class="text-primary">Enjoy</span>Your Stay</h1>

				<p>Bu Nd tomonidan ochilgan no_1 Hotel. Bizning Mehmonxonamizda hamma sharoitlar bor ko'proq ma'lumot olish uchun About Us tugmasini bosing</p>

				<a href="abouts" class="btn">About Us</a>
			</div>


		</div>
	</div>
</header>