@using GoodHotel.Service.ViewModels.Products;
@model RoomViewModel
<div id="showcase">
    <div class="container">
        <div style=" background-color: blue; height: 300px; width: 400px; margin-left: 350px; margin-top: 100px">
            <div class=" d-flex">
                <h3 style="margin-left: 15px; height: 10px">Number</h3>
                <h3 style="margin-left: 50px; height: 10px">Lux</h3>
                <h3 style="margin-left: 60px; height: 10px">Place</h3>
                <h3 style="margin-left: 60px; height: 10px">Price</h3>
            </div>
            <div class=" d-flex" style="margin-left: 10px; width:380px; height: 40px;  margin-top: 10px;margin-left:10px; margin-right: 20px; background-color: aqua">
                            <h2 style="margin-left: 15px; margin-top: 10px">@Model.room_number</h2>
                            @{
                                if (Model.Is_lux == true)
                                {
                                    <h2 style="margin-left: 90px; margin-top: 10px">Yes</h2>
                                }
                                else
                                {
                                    <h2 style="margin-left: 90px; margin-right: 7px; margin-top: 10px">No</h2>
                                }
                            }
                            @{
                                if (Model.place == 0)
                                {
                                    <h2 style="margin-left: 60px; margin-top: 10px">Bo'sh</h2>
                                }
                                else
                                {
                                    <h2 style="margin-left: 60px; margin-right: 7px; margin-top: 10px">Band</h2>
                                }
                            }
                            <h2 style="margin-left: 50px; margin-top: 10px">@Model.price$</h2>
                </div>

                }
        </div>
    </div>
</div>